//第一条c语言程序
#include<stdio.h>
int main(void) {
	printf("hello,world\n");
	return 0;
}
//输入输出整数
#define _CRT_SECURE_NO_WARNINGS
#include<stdio.h>
int main(void) {
	int number;
	printf("enter a number: ");
	scanf("%d", &number);
	printf("%d", number);
	return 0;
}
//输出单个字符
#include<stdio.h>
int main(void) {
	char a;		//声明char变量
	a = 'A';
	printf("%c", a);
	return 0;
}
//输出浮点数
#include<stdio.h>
int main(void) {
	float f = 1.234567;
	printf("%f", f);
	return 0;
}
//输出双精度型
#include<stdio.h>
int main(void) {
	double d = 1.23456789;
	printf("%le", d);
	return 0;
}
//两个数相加
#define _CRT_SECURE_NO_WARNINGS
#include<stdio.h>
int main(void) {
	float fristnumber, secondnumber;		//定义第一个数字，第二个数字
	printf("enter fristnumber and secondnumber: ");
	scanf("%f %f", &fristnumber, &secondnumber);
	printf("%f", fristnumber + secondnumber);
	return 0;
}
//两个浮点数想乘
#define _CRT_SECURE_NO_WARNINGS
#include<stdio.h>
int main(void) {
	float frist_float, second_float;
	printf("enter two number: ");
	scanf("%f %f", &frist_float, &second_float);
	printf("%f * %f = %f", frist_float, second_float, frist_float * second_float);
	return 0;
}
